alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1622150326904/work
astroid==2.4.2
atomicwrites==1.4.0
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
certifi==2021.5.30
cffi @ file:///D:/bld/cffi_1613414034267/work
click==7.1.2
colorama==0.4.3
cryptography @ file:///D:/bld/cryptography_1616851687511/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1622405147478/work
email-validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1612647002066/work
Flask==1.1.2
Flask-Login==0.5.0
Flask-Migrate @ file:///home/conda/feedstock_root/build_artifacts/flask-migrate_1622428801764/work
Flask-SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/flask-sqlalchemy_1616102249273/work
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
greenlet @ file:///D:/bld/greenlet_1620327660643/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
iniconfig @ file:///tmp/build/80754af9/iniconfig_1602780191262/work
isort==5.5.1
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1610659158978/work
MarkupSafe @ file:///C:/ci/markupsafe_1594405949945/work
mccabe==0.6.1
more-itertools @ file:///tmp/build/80754af9/more-itertools_1598884071673/work
packaging==20.4
pluggy==0.13.1
py @ file:///tmp/build/80754af9/py_1593446248552/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pylint==2.6.0
pyparsing==2.4.7
pytest==0.0.0
python-dateutil==2.8.1
python-editor==1.0.4
six==1.15.0
SQLAlchemy @ file:///D:/bld/sqlalchemy_1622329673787/work
toml==0.10.1
typed-ast==1.4.1
Werkzeug==0.16.0
wincertstore==0.2
wrapt==1.12.1
WTForms @ file:///tmp/build/80754af9/wtforms_1597707484216/work
zipp @ file:///tmp/build/80754af9/zipp_1603306325174/work
